body  { 
    background: white url("../images/segreto_icon.svg") no-repeat;   
    position: initial;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 50%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;    
}

#download_card {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

#upload_container {  
    display: inline-block; 
    top: 50%;
    bottom: 50%;
    width: 100%
    margin 0%;
}

#form_border {    
    width: 60%;
    height: 60%;
    padding-left: 5px;
    padding-right: 3px;
    border-style: dashed;
    border: 5px black dashed;
}

#uploadrow {
    width: 60%;
    height: 60%;
}
