{% extends 'index.html'%}

{% load static %}
{% block body %}
<!--==============Download Files=============================-->
<body id="body2">
  <div class='container' style='padding-top: 20px'>    
    <div class="row-sm-8 mx-auto">
        <div id="download_card" class='card'>
            {% if documents %}     
                <div class='card-header'>
                    <strong>Airtel AV Dashboard (Filtered Files Archieve)</strong>
                </div>                        
                <div class='card-body'>                                                                                          
                    {% for document in documents %}               
                        <div class='card'>
                            <div class='card-body'>
                                <h5 class="card-title">Download Your File</h5>     
                                <div class='card'>
                                    <p text-align="center" class="card-title">{{ document.docfile.name }}</p>
                                    <a class='col btn btn-success mx-auto' href="{{ document.docfile.url }}">{{ name }}</a>
                                </div>                                
                            </div>
                        </div>            
                    {% endfor %}
                </div>                    
            {% else %}
                <p>No documents.</p>        
            {% endif %}   
        </div>
      </div>
  </div>         
</body>
{% endblock body %}
