<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">
    ===============================================================================================-->   
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'css/file_processor_styling.css' %}">	            
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/flat-ui.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/file_processing_style.css' %}">    

    

    <title>UpLoad</title>

</head>
<body>
    <header></header>
    <section>
        <div class="formUpload">
            <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!---->
                    <p>{{ form.non_field_errors }}</p>

                    <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

                    <p class='primary'>
                        {{ form.docfile.errors }}
                        {{ form.docfile }}
                    </p>                        

                    <br/>                      
                    <input style="width:50%; padding:0px margin: 0px;" type="submit" class="col btn btn-primary mx-auto" value="Upload"/>                            
                </form> 
        </div>

        <div class="listFiles">
            <div id="download" class='container' style='padding-top: 20px'>    
    <div class="row-sm-8 mx-auto">
        <div id="download_card" class='card'>
            {% if documents %}     
                <div class='card-header'>
                    <strong>Airtel AV Dashboard (Filtered Files Archieve)</strong>
                </div>                        
                <div class='card-body'>                                                                                          
                    {% for document in documents %}               
                        <div class='card'>
                            <div class='card-body'>
                                <h5 class="card-title">Download Your File</h5>     
                                <div class='card'>
                                    <p text-align="center" class="card-title">{{ document.docfile.name }}</p>
                                    <a class='col btn btn-success mx-auto' href="{{ document.docfile.url }}">{{ name }}</a>
                                </div>                                
                            </div>
                        </div>            
                    {% endfor %}
                </div>                    
            {% else %}
                <p>No documents.</p>        
            {% endif %}   
        </div>
      </div>
      
      