<!DOCTYPE html>
<html lang="en" >
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <script src="{% static 'jquery/jquery-3.4.1/dist/jquery.min.js' %}" charset="utf-8"></script>
  </head>
  <body>
      <form action="index.html" class="login-form">
        <h1>Login</h1>
        <div class="txtb">
          <input type="text">
          <span data-placeholder="Username"></span>
        </div>
        <div class="txtb">
          <input type="password">
          <span data-placeholder="Password"></span>
        </div>
        <input type="submit" class="logbtn" value="Login">
        <div class="bottom-text">
          Don't have account? <a href="#">Sign up</a>
        </div>
      </form>
      <script src="{% static 'jquery/jquery-3.4.1/dist/jquery.min.js' %}"></script>
  </body>
</html>
<!-- partial -->
  <script  src="{% static 'js/login.js' %}"></script>

</body>
</html>