$skin: #4db6ac;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to top, #4F6072, #8699AA);
  display: flex;
  justify-content: center;
  align-items: center;
}

//upload component
.upload {
  position: relative;
  width: 400px;
